.login{
    padding: 80px;
}
.login_form{
    -webkit-box-shadow: -1px 2px 8px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 2px 8px -1px rgba(0,0,0,0.58);
    box-shadow: -1px 2px 8px -1px rgba(0,0,0,0.58);
    padding: 80px 60px;
    border-radius: 10px;
    /* background: rgba(235,233,249,1);
background: -moz-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 51%, rgba(216,208,239,1) 52%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(52%, rgba(216,208,239,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 51%, rgba(216,208,239,1) 52%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 51%, rgba(216,208,239,1) 52%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 51%, rgba(216,208,239,1) 52%, rgba(193,191,234,1) 100%);
background: linear-gradient(135deg, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 51%, rgba(216,208,239,1) 52%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 ); */
}
.form-group{
    margin-bottom: 20px;
}
.google_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 100px !important;
}
.google_btn img{
display: inline;
height: 30px;
}