.dental_section {
    padding: 100px 0;
}

.dental_content {
    margin-top: 60px;
}

.dental_content h1 {
    font-weight: 700;
}

.dental_content p {
    line-height: 35px;
    margin: 50px 0;
}

.dental_content button {
    background-color: #1b1464;
    border: none;
    color: white;
    padding: 10px 40px;
    margin-top: 5px;
}