
.navbar{
  background-color: rgb(83, 83, 247);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-container{
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.nav-logo:hover{
  color: white;
}
.nev-menu{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-links{
  color: white;
  text-decoration: none;
  padding: .2rem 2rem;
  height: 100%;
  display: block;

}
.nav-links:hover{
  background-color: rgb(77, 77, 240);
  color: white;
  border-radius: 5px;
}
.nav-items{
  line-height: 40px;
  /* margin-right: 1rem; */
}
/* .nav-items::after{
  content: '';
  display: block;
  height: 2px;
  background: transparent;
  transition: width .7s ease, background-color .5s ease;
} */
.nav-items:hover::after{
  width: 100%;
  background: yellow;
}
/* .nav-items .active{
  color: yellow;
  border: 2px solid yellow;
} */
.nav-icon{
  display: none;
}

/* nav scroll*/
nav {
  height: 4em;
  position: sticky;
  top: 0;
  z-index: 100;
  line-height: 4em;
  color: black;
  font-family: sans-serif;
  transition: transform 150ms ease-in-out;
}

nav.nav-bar--hidden {
  transform: translateY(-200%);
}

/* nav scroll*/

@media screen and (max-width: 960px){
  .nav-logo {
    margin-left: 15px;
}
  .nev-menu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
  }
  .nev-menu.active{
    padding: 10px 0;
    background-color: rgb(83, 83, 247);
    left: 0;
    opacity: 1;
    transition: all .5s ease;
    z-index: 1;
  }
  /* .nav-item .active{
    color: yellow;
    border: none;
  }
  .nav-links{
    padding: 1.5rem;
    width: 100%;
    display: table;
  } */
  .nav-icon{
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    transform: translate(-100%, 30%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}

